[gcode_macro PRINT_START_BED_MESH]
gcode:
  {% set S = printer['gcode_macro _PRINT_START_SETTINGS'] %}
  {% set bed_mesh = S.bed_mesh %}

  {% if bed_mesh == 'full' %}
    #SET_DISPLAY_TEXT MSG="Bed mesh full"                                                               # Display info on display
    BED_MESH_CALIBRATE                                                                                 # Start full bed mesh
  {% elif bed_mesh == 'adaptive' %}
    #SET_DISPLAY_TEXT MSG="Bed mesh adaptive"                                                           # Display info on display
    BED_MESH_CALIBRATE ADAPTIVE=1                                                                      # Start adaptive bed mesh
  {% endif %}