[gcode_macro PRINT_START_HEAT_HOTEND]
gcode:
  {% set PRINT_START_SETTINGS = printer['gcode_macro _PRINT_START_SETTINGS']}
  {% set target_extruder = PRINT_START_SETTINGS.target_extruder %}
  {% set x_wait = PRINT_START_SETTINGS.x_wait %}
  {% set y_wait = PRINT_START_SETTINGS.y_wait %}

  #SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"                                                    # Display info on display
  G1 X{x_wait} Y{y_wait} Z15 F9000                                                                     # Go to center of the bed
  M107                                                                                                 # Turn off partcooling fan
  M109 S{target_extruder}