[gcode_macro PRINT_START_HEAT_HOTEND]
gcode:
  {% set S = printer['gcode_macro PRINT_START_SETTINGS'] %}
  {% set target_extruder = S.target_extruder %}

  #SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"                 # Display info on display
  G1 X{S.x_wait} Y{S.y_wait} Z15 F9000                              # Go to center of the bed
  M107                                                              # Turn off partcooling fan
  _SET_MPC_MATERIAL                                                 # Set MPC material variables
  M109 S{target_extruder}                                           # Heat extruder to Slicer target temperature