[gcode_macro PRINT_START_HEAT_HOTEND]
gcode:
  {% set PRINT_START_SETTINGS = printer['gcode_macro _PRINT_START_SETTINGS'] %}
  {% set target_extruder = PRINT_START_SETTINGS.target_extruder %}

  #SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"                                                    # Display info on display
  G1 X{PRINTER_START_SETTINGS.x_wait} Y{PRINTER_START_SETTINGS.y_wait} Z15 F9000                       # Go to center of the bed
  M107                                                                                                 # Turn off partcooling fan
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={target_extruder}                                      # Set extruder to Slicer target temperature