[gcode_macro PRINT_START_HEATSOAK]
gcode:
  {% set S = printer['gcode_macro PRINT_START_SETTINGS'] %}
  {% set target_bed = S.target_bed %}
  {% set target_chamber = S.target_chamber %}
  {% set x_wait = S.x_wait %}
  {% set y_wait = S.y_wait %}

  # Check if chamber_temp is above 0c - if so then trigger a heatsoak
  {% if chamber_temp < 0 %}
    #SET_DISPLAY_TEXT MSG="Chamber: {target_chamber}c"                                                  # Display info on display
    G1 X{x_wait} Y{y_wait} Z100 F9000                                                                  # Go to center of the bed
    M106 S77                                                                                           # Activate part fans for duct cooling
    M190 S110                                                                                          # Activate bed heater
    SET_HEATER_TEMPERATURE HEATER=chamber_heater TARGET=70                                             # Activate chamber heater
    #SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber - 5}c"                                             # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber - 5}                  # Waits for chamber temp
    #SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"                                                          # Display info on display
    M190 S{target_bed}                                                                                 # Heat the bed to target temp
    TEMPERATURE_WAIT SENSOR="heater_bed" MINIMUM={target_bed - 2} MAXIMUM={target_bed + 2}

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    #SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"                                                          # Display info on display
    G1 X{x_wait} Y{y_wait} Z100 F9000                                                                  # Go to center of the bed
    M106 S77                                                                                           # Activate part fans for duct cooling
    M190 S{target_bed}                                                                                 # Heat the  bed to target temp
    #SET_DISPLAY_TEXT MSG="Soak for 5 min"                                                               # Display info on display
    TEMPERATURE_WAIT SENSOR="heater_bed" MINIMUM={target_bed - 2} MAXIMUM={target_bed + 2}             # Wait for the bedtemp to stabilize
  {% endif %}

  # Preheat hotend
  #SET_DISPLAY_TEXT MSG="Hotend: 150c"                                                                  # Display info on display
  M104 S150                                                                                            # Heat the extruder to 150c