  # Preheat hotend
  #SET_DISPLAY_TEXT MSG="Hotend: 150c"                                                                  # Display info on display
  M104 S150                                                                                            # Heat the extruder to 150c