[gcode_macro _PRINT_START_SETTINGS]
gcode:
  {% set variable target_bed = params.BED|int %}
  {% set variable target_extruder = params.EXTRUDER|int %}
  {% set variable target_chamber = params.CHAMBER|default("45")|int %}
  {% set variable target_chamber_minimal = params.CHAMBER_MINIMAL|default("0")|int %}
  {% set variable target_chamber_wait = [target_chamber, target_chamber_minimal]|select(">", 0)|min|default(0) %}
  {% set variable x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set variable y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  {% set variable bed_mesh = params.BED_MESH|default('adaptive')|string %}
  
  # This macro only stores shared variables, no actual commands
  {action_respond_info(" Running the PRINT_START_SETTINGS macro does nothing, it is only used for storing PRINT_START settings. ")}