[gcode_macro PRINT_START_RESET_HOME]
gcode:
  # Reset and Home
  CLEAR_PAUSE                                                                                          # Clear any lingering pause states
  BED_MESH_CLEAR                                                                                       # Clear old saved bed mesh
  SET_SKEW CLEAR=1                                                                                     # Clear old skew correction
  CG28                                                                                                 # Conditional home (XYZ)
  G90                                                                                                  # Absolute position