[gcode_macro _SET_MPC_MATERIAL]
description: Set heater MPC parameters for a given material
variable_filament_table:
  {
      ## ( heat capacity )  # suggested heat capacity range
      "PLA"       : ( 2.20 ),  # 1.80 - 2.20
      "PETG"      : ( 2.20 ),  # 1.70 - 2.20
      "PC+ABS"    : ( 2.20 ),  # 1.50 - 2.20
      "ABS"       : ( 2.40 ),  # 1.25 - 2.40
      "ASA"       : ( 2.10 ),  # 1.30 - 2.10
      "PA6"       : ( 2.50 ),  # 2.00 - 2.50
      "PA"        : ( 2.50 ),  # 2.00 - 2.50
      "PC"        : ( 1.90 ),  # 1.10 - 1.90
      "TPU"       : ( 2.00 ),  # 1.50 - 2.00
      "TPU-90A"   : ( 2.00 ),  # 1.50 - 2.00
      "TPU-95A"   : ( 2.00 ),  # 1.50 - 2.00
      "ABS-CF"    : ( 2.40 ),  # 1.25 - 2.40
      "ABS-GF"    : ( 2.40 ),  # 1.25 - 2.40
      "ASA-CF"    : ( 2.10 ),  # 1.30 - 2.10
      "ASA-GF"    : ( 2.10 ),  # 1.30 - 2.10
      "PA6-CF"    : ( 2.50 ),  # 2.00 - 2.50
      "PC+ABS-CF" : ( 2.20 ),  # 1.50 - 2.20
      "PC+CF"     : ( 1.90 ),  # 1.10 - 1.90
      "PLA-CF"    : ( 2.20 ),  # 1.80 - 2.20
      "PETG-CF"   : ( 2.20 ),  # 1.70 - 2.20
  }
gcode:
  {% set S = printer['gcode_macro PRINT_START_SETTINGS'] %}
  {% set material = S.filament_type %}
  {% set density = S.filament_density %}
  {% set heater = 'extruder' %}
  {% set extruder_config = printer.configfile.settings[heater] %}

  {% if material in filament_table %}
      {% set heat_capacity = filament_table[material] %}

      RESPOND PREFIX=🔥 MSG="Configured {heater} MPC for {material}. Density: {density}, Heat Capacity: {heat_capacity}"
  {% else %}
      {% set density = extruder_config.filament_density %}
      {% set heat_capacity=extruder_config.filament_heat_capacity %}

      RESPOND PREFIX=🔥 MSG="Unknown material '{material}', using default mpc parameters for {heater}"
  {% endif %}

  MPC_SET HEATER={heater} FILAMENT_DENSITY={density} FILAMENT_HEAT_CAPACITY={heat_capacity}