[gcode_macro PRINT_START_SETTINGS]
variable_target_bed: 0
variable_target_extruder: 0
variable_target_chamber: 0
variable_target_chamber_minimal: 0
variable_target_chamber_wait: 0
variable_bed_mesh: 'adaptive'
variable_filament_type: 'ASA'
variable_filament_density: 1.24
variable_x_wait: 0
variable_y_wait: 0
gcode:
  # Variables from Slicer
  {% set target_bed = params.BED | int %}
  {% set target_extruder = params.EXTRUDER | int %}
  {% set target_chamber = params.CHAMBER | default("25") | int %}
  {% set target_chamber_minimal = params.CHAMBER_MINIMAL | default("0") | int %}
  {% set target_chamber_wait = [target_chamber, target_chamber_minimal] | select(">", 0) | min | default(0) %}
  {% set bed_mesh = params.BED_MESH | default('adaptive') | string %}
  {% set filament_type = params.FILAMENT_TYPE | string  | upper %}
  {% set filament_density = params.FILAMENT_DENSITY | float %}
  
  # Variables from printer
  {% set x_wait = printer.toolhead.axis_maximum.x | float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y | float / 2 %}

  # Persitence variables
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=target_bed VALUE={target_bed}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=target_extruder VALUE={target_extruder}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=target_chamber VALUE={target_chamber}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=target_chamber_minimal VALUE={target_chamber_minimal}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=target_chamber_wait VALUE={target_chamber_wait}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=bed_mesh VALUE='{bed_mesh}'
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=filament_type VALUE='"{filament_type}""'
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=filament_density VALUE={filament_density}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=x_wait VALUE={x_wait}
  SET_GCODE_VARIABLE MACRO=PRINT_START_SETTINGS VARIABLE=y_wait VALUE={y_wait}