[gcode_macro PRINT_START_Z_TILT_ADJUST]
gcode:
  #SET_DISPLAY_TEXT MSG="Leveling"                                                                      # Display info on display
  {% if not printer.z_tilt.applied %} 
    Z_TILT_ADJUST HORIZONTAL_MOVE_Z=20 RETRY_TOLERANCE=1 PROBE_SPEED=15 LIFT_SPEED=7                   # Level the printer via Z_TILT_ADJUST
  {% else %}
    Z_TILT_ADJUST HORIZONTAL_MOVE_Z=2                                                                  # Level the printer via Z_TILT_ADJUST
  {% endif %}
  G28 Z                                                                                                # Home Z again after Z_TILT_ADJUST