# BTT Octopus Pro V1.1 - STM32H723
# Driver0: BTT TMC5160T Plus (SPI) - Stepper X
# Driver1: BTT TMC5160T Plus (SPI) - Stepper Y
# Driver2: empty
# Driver3: empty
# Driver4: BTT TMC2209 (UART) - Stepper Z
# Driver5: BTT TMC2209 (UART) - Stepper Z1
# Driver6: BTT TMC2209 (UART) - Stepper Z2
# Driver7: empty

# Driver0
[tmc5160 stepper_x]
cs_pin: PC4
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5
sense_resistor: 0.022
diag1_pin: ^!PG6
run_current: 1.500
interpolate: false
stealthchop_threshold: 0
driver_SGT: 1
home_current: 0.800

# Driver1
[tmc5160 stepper_y]
cs_pin: PD11
spi_software_miso_pin: PA6
spi_software_mosi_pin: PA7
spi_software_sclk_pin: PA5
sense_resistor: 0.022
run_current: 1.500
diag1_pin: ^!PG9
interpolate: false
stealthchop_threshold: 0
driver_SGT: 1
home_current: 0.800

# Driver2
# [tmc5160 stepper_x1]
#cs_pin: PC6
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: PA7
#spi_software_sclk_pin: PA5
#sense_resistor: 0.022
#run_current: 0.800
#interpolate: false
#stealthchop_threshold: 0

# Driver3
# [tmc5160 stepper_y1]
#cs_pin: PC7
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: PA7
#spi_software_sclk_pin: PA5
#sense_resistor: 0.022
#run_current: 0.800
#interpolate: false
#stealthchop_threshold: 0

# Driver4
[tmc2209 stepper_z]
uart_pin: PF2
sense_resistor: 0.075
run_current: 0.800
interpolate: false
stealthchop_threshold: 0

# Driver5
[tmc2209 stepper_z1]
uart_pin: PE4
sense_resistor: 0.075
run_current: 0.800
interpolate: false
stealthchop_threshold: 0

# Driver 6
[tmc2209 stepper_z2]
uart_pin: PE1
sense_resistor: 0.075
run_current: 0.800
interpolate: false
stealthchop_threshold: 0

# Driver 7
# [tmc]