#####################################################################
# MCU
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0D0016000C51313339373836-if00
restart_method: command

#####################################################################
#   Bed Heater
#####################################################################
#[heater_bed]
#heater_pin: PA0
#sensor_type: Generic 3950
#sensor_pin: PF3
#max_power: 1.0
#min_temp: 0
#max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   Bed Heater
#####################################################################
#[heater_generic chamber_heater]
#heater_pin: PA3
#sensor_type: Generic 3950
#sensor_pin: PF4
#max_power: 1.0
#min_temp: 0
#max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   LED Control
#####################################################################
[output_pin caselight]
pin: PB0
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01