######################################################################################
# MCU
######################################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0D0016000C51313339373836-if00
restart_method: command