#####################################################################
# Base configuration
#####################################################################
[printer]
kinematics: corexy
max_velocity: 750
max_accel: 100000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 10
minimum_cruise_ratio: 0

[idle_timeout]
timeout: 1800

[temperature_sensor raspberry_pi]
sensor_type: temperature_host

#####################################################################
# Includes
#####################################################################
# Hardware
[include config/octopus.cfg]
[include config/driver.cfg]
[include config/stepper.cfg]
[include config/nh36.cfg]
[include config/carto.cfg]
[include config/nozzle_adxl.cfg]

# Plugins
[include mainsail.cfg]
[include config/motor_sync.cfg]
[include config/shaketune.cfg]
[include config/tmc_autotune.cfg]

# Macros
[include macros/*.cfg]
[include macros/print_start/*.cfg]
[include macros/overrides/*.cfg]

#####################################################################
#   Gantry Adjustment Routines
#####################################################################
[z_tilt_ng]
points:
   30, 5
   175, 275 
   #175, 295
   320, 5
speed: 300
horizontal_move_z: 20
retries: 5
retry_tolerance: 0.0075
adaptive_horizontal_move_z: True

#####################################################################
#   Input Shaper
#####################################################################
[resonance_tester]
accel_chip: adxl345 nozzle #nh36
accel_per_hz: 125
sweeping_accel: 400
sweeping_period: 0
probe_points: 170, 175, 20
max_freq: 200

[input_shaper]
shaper_freq_x: 117.6
shaper_freq_y: 75.4
shaper_type_x: mzv
shaper_type_y: mzv
damping_ratio_x: 0.038
damping_ratio_y: 0.036

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4245993329705562,1.9037087073047771,0.8503480052367806,0.4030019689782963,0.4701897981637087,0.5596697842026084,-0.28464194542144694,-0.5483307780033162,0.34052911652423806,0.3861871324004001
#*# domain = 3.195007496087704e-07,3.3216577882215514e-07
#*# z_offset = 0
#*# reference_temperature = 35.12
#*# software_version = 1.5.2
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 1243
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.6.0
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [extruder]
#*# block_heat_capacity = 28.9636
#*# sensor_responsiveness = 0.0704496
#*# ambient_transfer = 0.116055
#*# fan_ambient_transfer = 0.116055, 0.128244, 0.134326, 0.13772, 0.142925, 0.145406, 0.147041
#*#
#*# [z_tilt_ng]
#*# z_positions = -52.337450, 17.438291
#*# 	173.565504, 387.433586
#*# 	400.908550, 18.526415
#*# z_offsets = -0.014406, -0.000030, 0.000615
#*#
#*# [chamber_heater]
#*# pid_version = 1
#*# pid_target = 65.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 10.745
#*# pid_ki = 0.726
#*# pid_kd = 39.757
#*#
#*# [motors_sync]
#*# steps_model_x = exponential,
#*# 	  7903.5431438044,
#*# 	  0.13058879263882198,
#*# 	  -6269.386802951497
#*# steps_model_y = exponential,
#*# 	  7903.5431438044,
#*# 	  0.13058879263882198,
#*# 	  -6269.386802951497
