#####################################################################
# PRINTER
#####################################################################
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
# INCLUDES
#####################################################################
[include mainsail.cfg]
[include octopus.cfg]
[include driver.cfg]
[include stepper.cfg]
[include nh36.cfg]
[include carto.cfg]

[include macros/*.cfg]

#####################################################################
# SAFE Z HOME
#####################################################################
[safe_z_home]
home_xy_position: 175, 175