#####################################################################
# Base configuration
#####################################################################
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 5.0

[idle_timeout]
timeout: 1800

[temperature_sensor pi]
sensor_type: temperature_host

#####################################################################
# Includes
#####################################################################
[include mainsail.cfg]
[include octopus.cfg]
[include driver.cfg]
[include stepper.cfg]
[include nh36.cfg]
[include carto.cfg]
[include nozzle_adxl.cfg]
[include shaketune.cfg]

# Macros
[include macros/*.cfg]

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################
[safe_z_home]
home_xy_position: 175, 175
z_hop: 10

[z_tilt]
z_positions:
   -50, 18
   175, 398
   400, 18
points:
   30, 5
   175, 295
   320, 5
speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

#####################################################################
#   Input Shaper
#####################################################################
[resonance_tester]
accel_chip: adxl345 nozzle
accel_per_hz: 140
sweeping_accel: 400
sweeping_period: 0
probe_points: 175, 175, 20
max_freq: 200

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [cartographer scan_model default]
#*# coefficients = 1.4252865331628337,1.8980227890357133,0.7838076054752985,0.22990117154353024,0.7164647080313938,1.3072082637377938,-0.7717134821466636,-1.7301999873886065,0.6438428927691016,0.9943040486167867
#*# domain = 3.1900229641809165e-07,3.31938909109097e-07
#*# z_offset = 0
#*# reference_temperature = 19.5
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [cartographer touch_model default]
#*# threshold = 864
#*# speed = 2
#*# z_offset = -0.05
#*# software_version = 1.5.0
#*# mcu_version = CARTOGRAPHER 5.0.0
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 28.9636
#*# sensor_responsiveness = 0.0704496
#*# ambient_transfer = 0.116055
#*# fan_ambient_transfer = 0.116055, 0.128244, 0.134326, 0.13772, 0.142925, 0.145406, 0.147041
