# Delayed G-code to start chamber heater
[delayed_gcode chamber_heater_control]
initial_duration: 0.0
gcode:
  {% set S = printer['gcode_macro PRINT_START_SETTINGS'] %}
  {% set target_chamber = S.target_chamber %}
  {% set chamber_temp = printer['temperature_sensor chamber'].temperature %}

  # Heater logic
  {% if chamber_target < target_chamber - 2 %}
    SET_HEATER_TEMPERATURE HEATER=heater_chamber TARGET={target_chamber + 5}                           # Activate chamber heater
  {% elif chamber_target >= target_chamber %}
    SET_HEATER_TEMPERATURE HEATER=heater_chamber TARGET=0                                              # Deactivate chamber heater
  {% endif %}
    
  # Re-run this check every 10 seconds
  UPDATE_DELAYED_GCODE ID=chamber_heater_control DURATION=10

[gcode_macro START_CHAMBER_TEMP_CONTROL]
gcode:
  UPDATE_DELAYED_GCODE ID=chamber_heater_control DURATION=10
  SET_DISPLAY_TEXT MSG="Chamber heater control activated"                                              # Display info on display

[gcode_macro STOP_CHAMBER_TEMP_CONTROL]
gcode:
  UPDATE_DELAYED_GCODE ID=chamber_heater_control DURATION=0
  SET_DISPLAY_TEXT MSG="Chamber heater control deactivated"                                            # Display info on display