[gcode_macro AWD_SYNC]
description: Remember to move the bed to the center and loosen the front stepper pulley grub screws 
gcode:
    {% set iterations = params.ITERATIONS|default(4)|int %}
    {% set p_time = params.PAUSE_TIME|default(0)|int %}
  
    {% for i in range(iterations) %}
      SET_KINEMATIC_POSITION X=117 Y=117 Z=20 
      G91
      ### Moving to full step motor position
      G1 X0.1 Y0.1 Z0.025
      
      G1 X0.02 Y0.02 Z0.05
      G1 X-0.02 Y-0.02 Z-0.05
      {% if i < (iterations-1) %}
        M84
      {% endif %}
      G4 P500
      {% if i == 1 %}
        G4 P{1000*p_time}
      {% endif %}
    {% endfor %}
    G90
    # Done