#####################################################################
#   MCU
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0D0016000C51313339373836-if00
restart_method: command

#####################################################################
#   Bed Heater
#####################################################################
[heater_bed]
heater_pin: PA0
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 1.0
min_temp: 0
max_temp: 120
control: pid
pid_kp: 29.760
pid_ki: 0.702
pid_kd: 315.576

#####################################################################
#   Chamber Heater
#####################################################################
[heater_generic heater_chamber]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF4
max_power: 1.0
min_temp: 0
max_temp: 80
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Extruder
#####################################################################
[extruder]
step_pin: PE6
dir_pin: !A14
enable_pin: !PD3
rotation_distance: 22.70
gear_ratio: 50:8
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PB11
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF7
pullup_resistor: 2200
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 200
max_extrude_only_distance: 101
max_extrude_cross_section: 5
control: mpc
heater_power: 70  
cooling_fan: fan
filament_density: 1.20
filament_heat_capacity: 1.8 
pressure_advance: 0.02

#####################################################################
#   Temperature Sensors
#####################################################################
[temperature_sensor octopus_pro]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF6

[temperature_sensor stepper_rear]
sensor_type: Generic 3950
sensor_pin: PF7

#####################################################################
#   Fan Control
#####################################################################
[heater_fan chamber_heater_fan]
pin: PD13
shutdown_speed: 1.0
heater: heater_chamber
heater_temp: 50

#####################################################################
#   LED Control
#####################################################################
[output_pin caselight]
pin: PB0
pwm: true
shutdown_value: 1
value: 1.0
cycle_time: 0.01