#####################################################################
# MCU
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_0D0016000C51313339373836-if00
restart_method: command





#####################################################################
#   Temperature Sensors
#####################################################################
[temperature_sensor octopus_pro]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF6

[temperature_sensor stepper_rear]
sensor_type: Generic 3950
sensor_pin: PF7

#####################################################################
#   Fan Control
#####################################################################

#####################################################################
#   LED Control
#####################################################################
[output_pin caselight]
pin: PB0
pwm: true
shutdown_value: 0
value: 1.0
cycle_time: 0.01

